.stats {
    padding: 9px 20px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
        list-style: none;
        margin: 0 0 15px;
        display: flex;
    }

    .group-name {
        font-size: 13px;
    }

    .group-blocked {
        font-size: 13px;
        margin-left: auto;
    }
}
