.empty-custom {
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__ico {
        width: 82px;
        margin: 0 auto 62px auto;
        background-repeat: no-repeat;
        height: 104px;
        background-image: url(../../../../assets/icons/empty.svg);
    }

    &__desc {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
}
