*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.4;
}

ul {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

button,
input,
textarea {
    font-family: inherit;
}

a {
    color: currentColor;
}
