*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 320px;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.4;
}

.hidden {
    display: none;
}

button,
input,
textarea {
    font-family: inherit;
}

a {
    color: currentColor;
}
