@font-face {
    font-family: Roboto;
    src: url('../../../../assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../../../assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../../../../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
