@font-face {
    font-family: 'Roboto Flex';
    src: url('../../../../assets/fonts/Roboto-Flex-Regular.woff2') format('woff2 supports variations'),
       url('../../../../assets/fonts/Roboto-Flex-Regular.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
