:root {
    /* Other variables */
    --popup-width: 320px;
    --popup-height: 600px;
    --popup-default-height: 600px; /* Size of popup in desktop browsers */
    --t3: 0.3s ease;

    /* z-index */
    /* 4 reserved by Ace Editor */
    --z-idx-options-sidebar: 5;
    --z-idx-options-skip-to-content: 6;
    --z-idx-options-notifications: 10;
    --z-idx-options-modals: 11;

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --small-light-shadow-br: 4px 4px 8px 0px var(--shadow-color);
    --big-light-shadow-br: 8px 8px 24px 0px var(--shadow-color);
    --big-light-shadow-tr: -8px 8px 24px 0px var(--shadow-color);

    /* Base colors */

    /* Product Primary */
    --product-primary-0: #f7fbf8;
    --product-primary-10: #e4f1e7;
    --product-primary-20: #bbddc3;
    --product-primary-30: #94c9a1;
    --product-primary-40: #76be87;
    --product-primary-50: #67b279;
    --product-primary-60: #589968;
    --product-primary-70: #487c54;
    --product-primary-80: #3d6947;
    --product-primary-90: #315439;
    --product-primary-100: #243e2a;
    --product-tertiary-50: #7884cb;

    /* Gray */
    --gray-0: #ffffff;
    --gray-10: #f6f6f6;
    --gray-20: #e4e4e4;
    --gray-30: #d2d2d2;
    --gray-40: #c0c0c0;
    --gray-50: #a4a4a4;
    --gray-60: #7f7f7f;
    --gray-70: #5b5b5b;
    --gray-80: #3d3d3d;
    --gray-90: #1f1f1f;
    --gray-100: #000000;

    /* Red */
    --red-0: #fff9f7;
    --red-10: #feeae3;
    --red-20: #fccab9;
    --red-30: #faa98f;
    --red-40: #f78560;
    --red-50: #f67247;
    --red-60: #df6740;
    --red-70: #b55434;
    --red-80: #99472c;
    --red-90: #7b3923;
    --red-100: #5b2a1a;

    /* Orange */
    --orange-0: #fdf9f3;
    --orange-10: #f9ecd8;
    --orange-20: #efd19e;
    --orange-30: #e6b564;
    --orange-40: #db9726;
    --orange-50: #d58500;
    --orange-60: #c47a00;
    --orange-70: #a06400;
    --orange-80: #875400;
    --orange-90: #6c4300;
    --orange-100: #503200;

    /* Context colors */

    /* vars that DO NOT change depend on the mode — same for light and dark mode */
    --fills-buttons-danger-button-default: var(--red-50);
    --fills-buttons-danger-button-hovered: var(--red-60);
    --fills-buttons-danger-button-pressed: var(--red-70);
    --fills-buttons-main-button-default: var(--product-primary-50);
    --fills-buttons-main-button-hovered: var(--product-primary-60);
    --fills-buttons-main-button-pressed: var(--product-primary-70);
    --fills-logo-white-color-default: var(--gray-0);
    --fills-snacks-mobile-snacks-default: var(--gray-100);
    --fills-backgrounds-dialog-background-default: var(--gray-100);
    --stroke-dividers-item-divider-green-default: var(--product-primary-50);
    --stroke-dividers-item-divider-orange-default: var(--orange-50);
    --stroke-buttons-secondary-green-default: var(--product-primary-50);
    --stroke-buttons-secondary-red-default: var(--red-50);
    --stroke-icons-attention-icon-default: var(--orange-50);
    --stroke-icons-black-icons-disabled: var(--gray-50);
    --stroke-icons-error-icon-default: var(--red-50);
    --stroke-icons-error-icon-hovered: var(--red-60);
    --stroke-icons-error-icon-pressed: var(--red-70);
    --stroke-icons-product-icon-default: var(--product-primary-50);
    --stroke-icons-product-icon-hovered: var(--product-primary-60);
    --stroke-icons-product-icon-pressed: var(--product-primary-70);
    --stroke-icons-product-tertiary-icon-default: var(--product-tertiary-50);
    --stroke-inputs-error-input-stroke-default: var(--red-50);
    --stroke-inputs-active-input-stroke-default: var(--gray-50);
    --text-buttons-primary-default: var(--gray-0);
    --text-buttons-secondary-green-default: var(--product-primary-50);
    --text-buttons-secondary-red-default: var(--red-50);
    --text-links-attention-link-default: var(--orange-50);
    --text-links-error-link-default: var(--red-50);
    --text-links-error-link-hovered: var(--red-60);
    --text-links-link-default: var(--product-primary-50);
    --text-links-link-hovered: var(--product-primary-60);

    /* vars that DO NOT change depend on the mode — same for light and dark mode (not specified in design) */
    --editor-comment: #338033;
    --editor-highlight: #ffff00;

    /* vars that change depend on the mode */
    --fills-backgrounds-cards-background-default: var(--gray-0);
    --fills-backgrounds-page-background-default: var(--gray-0);
    --fills-backgrounds-page-background-hovered: var(--gray-10);
    --fills-backgrounds-page-background-pressed: var(--gray-20);
    --fills-backgrounds-page-background-additional-default: var(--gray-10);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-20);
    --fills-backgrounds-recent-activity-request-allowlisted-default: var(--product-primary-10);
    --fills-backgrounds-recent-activity-request-allowlisted-hovered: var(--product-primary-20);
    --fills-backgrounds-recent-activity-request-allowlisted-pressed: var(--product-primary-30);
    --fills-backgrounds-recent-activity-request-blocked-default: var(--red-10);
    --fills-backgrounds-recent-activity-request-blocked-hovered: var(--red-20);
    --fills-backgrounds-recent-activity-request-blocked-pressed: var(--red-30);
    --fills-backgrounds-recent-activity-request-changed-default: var(--orange-10);
    --fills-backgrounds-recent-activity-request-changed-hovered: var(--orange-20);
    --fills-backgrounds-recent-activity-request-changed-pressed: var(--orange-30);
    --fills-buttons-main-button-default-inactive: var(--gray-50);
    --fills-inputs-input-background-default: var(--gray-10);
    --fills-inputs-input-background-disabled: var(--gray-10);
    --fills-logo-key-color-default: var(--gray-90);
    --fills-menus-dropdown-menu-background-default: var(--gray-0);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-10);
    --fills-menus-dropdown-menu-background-pressed: var(--gray-20);
    --fills-switch-dns-adg-switch-off-default: var(--gray-40);
    --stroke-buttons-secondary-default: var(--gray-80);
    --stroke-dividers-item-divider-default: var(--gray-30);
    --stroke-icons-gray-icons-default: var(--gray-60);
    --stroke-icons-gray-icons-disabled: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-disabled: var(--gray-20);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-30);
    --text-description-description-default: var(--gray-70);
    --text-lables-labels-default: var(--gray-70);
    --text-main-text-main-default: var(--gray-80);
    --text-placeholder-placeholder-disabled: var(--gray-40);

    /* vars that change depend on the mode (not specified in design) */
    --outline: #005ecc;
    --editor-selection: #b5d5ff;
    --editor-syntax-blue: #4141e2;
    --editor-syntax-yellow: #795e26;
    --editor-syntax-pink: #9e45b4;
    --editor-syntax-red: #a31515;
    --scrollbar-track: rgba(246, 246, 246, 0.3); /* gray-10 with opacity 0.3 */
    --scrollbar-thumb: var(--gray-30);

    @media (prefers-color-scheme: dark) {
        --fills-backgrounds-cards-background-default: var(--gray-80);
        --fills-backgrounds-page-background-default: var(--gray-90);
        --fills-backgrounds-page-background-hovered: var(--gray-80);
        --fills-backgrounds-page-background-pressed: var(--gray-70);
        --fills-backgrounds-page-background-additional-default: var(--gray-80);
        --fills-backgrounds-page-background-additional-hovered: var(--gray-70);
        --fills-backgrounds-recent-activity-request-allowlisted-default: var(--product-primary-100);
        --fills-backgrounds-recent-activity-request-allowlisted-hovered: var(--product-primary-90);
        --fills-backgrounds-recent-activity-request-allowlisted-pressed: var(--product-primary-80);
        --fills-backgrounds-recent-activity-request-blocked-default: var(--red-100);
        --fills-backgrounds-recent-activity-request-blocked-hovered: var(--red-90);
        --fills-backgrounds-recent-activity-request-blocked-pressed: var(--red-80);
        --fills-backgrounds-recent-activity-request-changed-default: var(--orange-100);
        --fills-backgrounds-recent-activity-request-changed-hovered: var(--orange-90);
        --fills-backgrounds-recent-activity-request-changed-pressed: var(--orange-80);
        --fills-buttons-main-button-default-inactive: var(--gray-60);
        --fills-inputs-input-background-default: var(--gray-80);
        --fills-inputs-input-background-disabled: var(--gray-80);
        --fills-logo-key-color-default: var(--gray-10);
        --fills-menus-dropdown-menu-background-default: var(--gray-80);
        --fills-menus-dropdown-menu-background-hovered: var(--gray-70);
        --fills-menus-dropdown-menu-background-pressed: var(--gray-60);
        --fills-switch-dns-adg-switch-off-default: var(--gray-70);
        --stroke-buttons-secondary-default: var(--gray-20);
        --stroke-dividers-item-divider-default: var(--gray-70);
        --stroke-icons-gray-icons-default: var(--gray-40);
        --stroke-icons-gray-icons-disabled: var(--gray-70);
        --stroke-inputs-inactive-input-stroke-disabled: var(--gray-80);
        --stroke-inputs-inactive-input-stroke-default: var(--gray-70);
        --text-description-description-default: var(--gray-30);
        --text-lables-labels-default: var(--gray-30);
        --text-main-text-main-default: var(--gray-20);
        --text-placeholder-placeholder-disabled: var(--gray-60);

        /* This colors not specified in design */
        --outline: #99c9ff;
        --editor-selection: #556a86;
        --editor-syntax-blue: #4093d6;
        --editor-syntax-yellow: #dbdb84;
        --editor-syntax-pink: #c46cbd;
        --editor-syntax-red: #cf8263;
        --scrollbar-track: rgba(61, 61, 61, 0.3); /* gray-80 with opacity 0.3 */
        --scrollbar-thumb: var(--gray-70);
    }
}

.dark-mode {
    --fills-backgrounds-cards-background-default: var(--gray-80);
    --fills-backgrounds-page-background-default: var(--gray-90);
    --fills-backgrounds-page-background-hovered: var(--gray-80);
    --fills-backgrounds-page-background-pressed: var(--gray-70);
    --fills-backgrounds-page-background-additional-default: var(--gray-80);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-70);
    --fills-backgrounds-recent-activity-request-allowlisted-default: var(--product-primary-100);
    --fills-backgrounds-recent-activity-request-allowlisted-hovered: var(--product-primary-90);
    --fills-backgrounds-recent-activity-request-allowlisted-pressed: var(--product-primary-80);
    --fills-backgrounds-recent-activity-request-blocked-default: var(--red-100);
    --fills-backgrounds-recent-activity-request-blocked-hovered: var(--red-90);
    --fills-backgrounds-recent-activity-request-blocked-pressed: var(--red-80);
    --fills-backgrounds-recent-activity-request-changed-default: var(--orange-100);
    --fills-backgrounds-recent-activity-request-changed-hovered: var(--orange-90);
    --fills-backgrounds-recent-activity-request-changed-pressed: var(--orange-80);
    --fills-buttons-main-button-default-inactive: var(--gray-60);
    --fills-inputs-input-background-default: var(--gray-80);
    --fills-inputs-input-background-disabled: var(--gray-80);
    --fills-logo-key-color-default: var(--gray-10);
    --fills-menus-dropdown-menu-background-default: var(--gray-80);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-70);
    --fills-menus-dropdown-menu-background-pressed: var(--gray-60);
    --fills-switch-dns-adg-switch-off-default: var(--gray-70);
    --stroke-buttons-secondary-default: var(--gray-20);
    --stroke-dividers-item-divider-default: var(--gray-70);
    --stroke-icons-gray-icons-default: var(--gray-40);
    --stroke-icons-gray-icons-disabled: var(--gray-70);
    --stroke-inputs-inactive-input-stroke-disabled: var(--gray-80);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-70);
    --text-description-description-default: var(--gray-30);
    --text-lables-labels-default: var(--gray-30);
    --text-main-text-main-default: var(--gray-20);
    --text-placeholder-placeholder-disabled: var(--gray-60);

    /* This colors not specified in design */
    --outline: #99c9ff;
    --editor-selection: #556a86;
    --editor-syntax-blue: #4093d6;
    --editor-syntax-yellow: #dbdb84;
    --editor-syntax-pink: #c46cbd;
    --editor-syntax-red: #cf8263;
    --scrollbar-track: rgba(61, 61, 61, 0.3); /* gray-80 with opacity 0.3 */
    --scrollbar-thumb: var(--gray-70);
}

.light-mode {
    --fills-backgrounds-cards-background-default: var(--gray-0);
    --fills-backgrounds-page-background-default: var(--gray-0);
    --fills-backgrounds-page-background-hovered: var(--gray-10);
    --fills-backgrounds-page-background-pressed: var(--gray-20);
    --fills-backgrounds-page-background-additional-default: var(--gray-10);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-20);
    --fills-backgrounds-recent-activity-request-allowlisted-default: var(--product-primary-10);
    --fills-backgrounds-recent-activity-request-allowlisted-hovered: var(--product-primary-20);
    --fills-backgrounds-recent-activity-request-allowlisted-pressed: var(--product-primary-30);
    --fills-backgrounds-recent-activity-request-blocked-default: var(--red-10);
    --fills-backgrounds-recent-activity-request-blocked-hovered: var(--red-20);
    --fills-backgrounds-recent-activity-request-blocked-pressed: var(--red-30);
    --fills-backgrounds-recent-activity-request-changed-default: var(--orange-10);
    --fills-backgrounds-recent-activity-request-changed-hovered: var(--orange-20);
    --fills-backgrounds-recent-activity-request-changed-pressed: var(--orange-30);
    --fills-buttons-main-button-default-inactive: var(--gray-50);
    --fills-inputs-input-background-default: var(--gray-10);
    --fills-inputs-input-background-disabled: var(--gray-10);
    --fills-logo-key-color-default: var(--gray-90);
    --fills-menus-dropdown-menu-background-default: var(--gray-0);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-10);
    --fills-menus-dropdown-menu-background-pressed: var(--gray-20);
    --fills-switch-dns-adg-switch-off-default: var(--gray-40);
    --stroke-buttons-secondary-default: var(--gray-80);
    --stroke-dividers-item-divider-default: var(--gray-30);
    --stroke-icons-gray-icons-default: var(--gray-60);
    --stroke-icons-gray-icons-disabled: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-disabled: var(--gray-20);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-30);
    --text-description-description-default: var(--gray-70);
    --text-lables-labels-default: var(--gray-70);
    --text-main-text-main-default: var(--gray-80);
    --text-placeholder-placeholder-disabled: var(--gray-40);

    /* This colors not specified in design */
    --outline: #005ecc;
    --editor-selection: #b5d5ff;
    --editor-syntax-blue: #4141e2;
    --editor-syntax-yellow: #795e26;
    --editor-syntax-pink: #9e45b4;
    --editor-syntax-red: #a31515;
    --scrollbar-track: rgba(246, 246, 246, 0.3); /* gray-10 with opacity 0.3 */
    --scrollbar-thumb: var(--gray-30);
}

.android {
    /* In android browsers popup size is dynamic, so we need to adjust its size */
    --popup-width: 100%;
}
