.popover {
    display: inline-block;

    &--coming-soon {
        cursor: help;
        display: flex;

        /* FIXME: remove when companiesdb stats is implemented for mv3 */
        & > .tabs__tab {
            width: 160px;
        }
    }
}
