.wrapper {
    @media (min-width: 760px) {
        width: 720px;
    }

    .modal {
        max-width: 720px;
        line-height: 150%;

        .btn {
            width: 50%;
            max-width: 200px;
            margin: 0 24px 0 0;
        }

        .contentWrapper {
            padding-bottom: 8px;
        }
    }
}

