node_modules/*
ApiSampleExtension/*
Build/*
private/*
Extension/lib/libs/*
Extension/lib/content-script/assistant/assistant.js
Extension/filters/*
Extension/lib/utils/punycode.js
Extension/lib/utils/public-suffixes.js
Extension/tests/qunit
Extension/tests/miscellaneous/es6-collections.js
Extension/tests/request-filter/test_filter.js
