node_modules
build
private
Extension/src/content-script/assistant/assistant.js
Extension/src/pages/common/components/Editor/mode-adguard.js
Extension/pages/blocking-pages/app.js
Extension/web-accessible-resources/*
tests/src/background/filter/request-filter/test_filter.js
Extension/src/background/settings/validator.js
