.DS_Store
build/
.idea/
.vscode/*
!.vscode/extensions.json
.pnpm-store/
pnpm-debug.log
node_modules
coverage/
.eslintcache
Makefile
.env

# TypeScript build info files generated during type checking for MV2/MV3 project references
tsconfig.mv2.tsbuildinfo
tsconfig.mv3.tsbuildinfo

# Contains integration test run files.
tools/tmp

# Contains integration and unit tests reports for better bamboo view.
tests-reports/

# Do not push bamboo artifacts to the git.
artifacts/

# Ignore certificates
private

# Ignore tmp resources
tmp/