.DS_Store
build/
Compiler/target
Compiler/deploy
Compiler/scripts/oneskyapp
Compiler/bin
Compiler/.project
.idea/
.vscode/
Compiler/certificate.pem
*.iml
tags
extensions
dist/
yarn-error.log
node_modules
private
tmp
output.md
