@charset "UTF-8";
@font-face {
    font-family: 'gotham_promedium';
    src: url('fonts/gothapromed-webfont.eot');
    src: url('fonts/gothapromed-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/gothapromed-webfont.woff') format('woff'),
    url('fonts/gothapromed-webfont.ttf') format('truetype'),
    url('fonts/gothapromed-webfont.svg#gotham_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_proregular';
    src: url('fonts/gothaproreg-webfont.eot');
    src: url('fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/gothaproreg-webfont.woff') format('woff'),
    url('fonts/gothaproreg-webfont.ttf') format('truetype'),
    url('fonts/gothaproreg-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans_semibold';
    src: url('fonts/opensanssemibold-webfont.eot');
    src: url('fonts/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/opensanssemibold-webfont.woff') format('woff'),
    url('fonts/opensanssemibold-webfont.ttf') format('truetype'),
    url('fonts/opensanssemibold-webfont.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}