* {
    -moz-text-size-adjust: none;
}

.sp-table-row-info {
    font-size: 11px;
    margin-left: 10px;
    color: #afafaf;
}

a.sp-table-row-info {
    color: #8b8c8d;
}

a.sp-table-row-info:hover {
    color: #4d4b47;
}

.jspPane {
    width: 100% !important;
}
.settings-page.downloading {
    text-align: center;
}

.settings-page.downloading .sp-lists-user-descr:first-child {
    margin-bottom: 60px;
    color: #333;
    font-style: italic;
}

.settings-page.downloading .sp-lists-user-descr {
    color: #999;
    font-style: italic;
}

.header.downloading .header-logo {
    float: none;
    display: block;
    margin: 0 auto 0 auto;
    width: 206px;
}
