/**
 * styles for alert popup container
 * should be injected into web page to set the alert container position on page properly
 */

.adguard-alert-iframe {
    width: 100%;
    border: none;
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 0;
    display: block;
    margin: 0 auto;
    color-scheme: light dark;
    visibility: hidden;
}
