.adg-progress-bar {
    height: 2px;
}

.adg-progress-bar .bar {
    background: #66b574;
    background: linear-gradient(45deg, rgba(99, 125, 120, 1) 0%, rgba(88, 177, 101, 1) 100%);
    box-shadow: 0 0 10px #66b574, 0 0 5px #66b574;
}
