/**
 * Style for the update info popup iframe with notification about rules limits exceeded.
 * Should be injected into web page to set the popup position on page properly.
 */

.adguard-rules-limits-exceeded-iframe {
    color-scheme: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border: none;
    width: 376px;
}
