/**
 * Style for the update info popup iframe with notification about rules limits exceeded.
 * Should be injected into web page to set the popup position on page properly.
 */

.adguard-rules-limits-exceeded-iframe {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    width: 344px;
}