/**
 * style for the update info popup iframe
 * should be injected into web page to set the popup position on page properly
 */

.adguard-update-iframe {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    width: 320px;
    /* 460px container + 50px padding + 16px box-shadow */
    min-height: 526px;
    color-scheme: light dark;
}
