:root {
    /* filters */
    --bgColor: #323232;
    --shadow: #111111;
    --hrowColor: #444444;
    --transparent: transparent;
    --mainGreen: #66b574;
    --darkGreen: #5ba575;
    --btnGreen: #67b279;
    --btnRed: #c23814;
    --inputsBorder: #777777;
    --searchBg: #bbbbbb;
    --tabLabel: #888888;

    /* events */
    --borderColor: #444444;
    --thColor: #555555;
    --trHover: rgba(234, 182, 117, .1);
    --textColor: #cccccc;
    --darkText: #dddddd;
}
