:root {
    /* filters */
    --bgColor: #ffffff;
    --shadow: #cccccc;
    --hrowColor: #dddddd;
    --mainGreen: #66b574;
    --darkGreen: #5ba575;
    --btnGreen: #67b279;
    --btnRed: #c23814;
    --inputsBorder: #999999;
    --searchBg: #f3f3f3;
    --tabLabel: #888888;

    /* events */
    --borderColor: #dddddd;
    --thColor: #cccccc;
    --trHover: rgba(234, 182, 117, .1);
    --textColor: #4d4d4d;
    --darkText: #1d1d1d;
}
