.icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;

    &--header {
        color: var(--stroke-icons-gray-icons-default);

        &:hover {
            color: var(--stroke-icons-product-icon-default);
        }
    }

    &--no-filtering {
        width: 48px;
        height: 48px;
        color: var(--stroke-icons-product-icon-default);
    }

    &--action {
        &--block-ad {
            color: var(--stroke-icons-error-icon-default);
        }

        &--sandwich {
            color: var(--stroke-icons-product-icon-default);
        }

        &--thumb-down {
            color: var(--stroke-icons-attention-icon-default);
        }

        &--info {
            color: var(--stroke-icons-gray-icons-default);
        }

        &--small-cross {
            color: var(--stroke-icons-error-icon-default);
        }

        &--loading {
            color: var(--stroke-icons-product-icon-default);
        }
    }

    &--footer {
        color: var(--stroke-icons-gray-icons-default);

        &:hover {
            color: var(--stroke-icons-product-icon-default);
        }
    }
}
