@import url(normalize.css);
@import url(bootstrap-modal-custom.css);

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.select-none{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
/* Buttons */
.button{
    display: inline-block;
    padding: 13px 21px 13px;
    font-size: 13px;
    background: #46bb61;
    font-family: 'gotham_proregular', 'opensans_semibold', sans-serif;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.button:hover{
    background: #5EC877;
}
.button-gray{
    background: #58595b;
}
.button-gray:hover{
    background: #6E6F71;
}
.button-red{
    background: #f3523d;
}
.button-red:hover{
    background: #F96F5E;
}
.button.button-small{
    padding: 8px 15px 7px;
}
.button-link{
    display: inline-block;
    border-bottom: 1px dotted #46bb61;
    color: #46bb61;
    text-decoration: none;
}
.button-link:hover{
    border-bottom: 0;
}
.radio{
    padding: 11px 0 0;
}
.radio-input{
    display: none;
}
.radio-input + .radio-label .radio-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/radio-sprite.png");
    cursor: pointer;
}
.radio-input:checked + .radio-label .radio-icon{
    background-position: 0 -22px;
}
.radio-label-text{
    position: relative;
    top: -5px;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    padding-left: 3px;
    max-width: 580px;
    display: inline-block;
    word-break: break-all;
    vertical-align: text-top;
}

.checkbox{
    padding: 11px 0 0;
}
.checkbox-input{
    display: none;
}
.checkbox-input + .checkbox-label .checkbox-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/checkbox-sprite.png");
    cursor: pointer;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon{
    background-position: -22px 0;
}
.checkbox-label-text{
    position: relative;
    top: -5px;
    font-size: 13px;
    color: #000;
    cursor: pointer;
}
/* Blocks */
.task-manager{
    min-width: 1080px;
    font-size: 13px;
    color: #1a1a1a;
}
.task-manager-header{

}
.task-manager-header-row{
    border-bottom: 1px solid #e6e6e6;
}
.task-manager-header-dropdown{
    position: relative;
    float: left;
    width: 35%;
    border-right: 1px solid #e6e6e6;
    padding: 15px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.task-manager-header-dropdown-img{
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
}
.task-manager-header-dropdown-text{

}
.task-manager-header-dropdown-select{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 100%;
    width: 70%;
    padding: 19px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.task-manager-header-dropdown-select-text{
    position: relative;
}
.task-manager-header-dropdown-select-text:after{
    content: "";
    position: absolute;
    top: 7px;
    right: -1px;
    width: 8px;
    height: 4px;
    background: url("../images/dropdown-trinagle.png");
}
.task-manager-header-dropdown-select-list{
    position: absolute;
    top: 48px;
    right: -1px;
    left: 0;
    z-index: 22;
    display: none;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.task-manager-header-dropdown-select.opened .task-manager-header-dropdown-select-list{
    display: block;
}
.task-manager-header-dropdown-select.opened .task-manager-header-dropdown-select-text{
    color: #46bb61;
}
.task-manager-header-dropdown-select.opened .task-manager-header-dropdown-select-text:after{
    background-position: -16px 0;
}
.task-manager-header-dropdown-select-list-item{
    padding: 15px 15px 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-manager-header-dropdown-select-list-item:hover{
    background: #46bb61;
    color: #fff;
}
.task-manager-header-controls{
    float: left;
    width: 65%;
    padding: 10px 10px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.task-manager-header-controls-refresh{
    margin-right: 20px;
}
.task-manager-header-filter{
    position: relative;
    float: left;
    width: 35%;
    height: 41px;
    border-right: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../images/input-shadow.png") repeat-x;
}
.task-manager-header-filter-icon{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 12px 0 0 15px;
    background: url("../images/filter-icon.png");
}
.task-manager-header-filter-input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    padding-left: 40px;
    padding-right: 10px;
    background: rgba(255,255,255,0);
}
.task-manager-header-filter-input[placeholder]{
    font-size: 13px;
    color: #1a1a1a;
}
.task-manager-header-filter-input::-moz-placeholder{
    font-size: 13px;
    color: #999;
}
.task-manager-header-filter-input:-moz-placeholder{
    font-size: 13px;
    color: #999;
}
.task-manager-header-filter-input::-webkit-input-placeholder{
    font-size: 13px;
    color: #999;
}

.task-manager-header-filter-input:focus{
    outline: none;
}
.task-manager-header-tabs{
    float: left;
    width: 65%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.task-manager-header-tabs-item-wrap{
    display: inline-block;
    padding:14px 8px 9px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.task-manager-header-tabs-item-wrap.active{
    border-bottom-color: #46bb61;
}
.task-manager-header-tabs-item{
    border-bottom: 1px dotted #000;
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.task-manager-header-tabs-item-wrap.active .task-manager-header-tabs-item{
    border-bottom: 0;
    color: #46bb61;
}
.task-manager-header-tabs-item-wrap:hover .task-manager-header-tabs-item{
    border-bottom: 0;
}
.task-manager-header-tabs-checkbox{
    float: right;
    padding: 9px 0 0;
    margin-right: 15px;
}
.task-manager-header-tabs-checkbox-input{
    display: none;
}
.task-manager-header-tabs-checkbox-input + .task-manager-header-tabs-checkbox-label .task-manager-header-tabs-checkbox-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../images/checkbox-sprite.png");
    cursor: pointer;
}
.task-manager-header-tabs-checkbox-input:checked + .task-manager-header-tabs-checkbox-label .task-manager-header-tabs-checkbox-icon{
    background-position: -22px 0;
}
.task-manager-header-tabs-checkbox-label-text{
    position: relative;
    top: -5px;
    font-size: 13px;
    color: #000;
    cursor: pointer;
}
.task-manager-content{
    border-top: 1px solid #e6e6e6;
    margin-top: -3px;
}
.task-manager-content-header{
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}
.task-manager-content-header-item{
    float: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.task-manager-content-header-item-wrap{
    padding: 5px 0 5px;
}
.task-manager-content-header-item + .task-manager-content-header-item{
    border-left: 1px solid #e6e6e6;
}
.task-manager-content-item-url{
    width: 43%;
}
.task-manager-content-item-type{
    width: 16%;
}
.task-manager-content-item-rule{
    width: 18%;
}
.task-manager-content-item-source{
    width: 15%;
}
.task-manager-content-header-body{

}
.task-manager-content-header-body-row{
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.task-manager-content-header-body-row:hover{
    background: #FCFBF7;
}
.task-manager-content-header-body-row.green{
    background: #defae5;
}
.task-manager-content-header-body-row.green:hover{
    background: #F0FFF3;
}
.task-manager-content-header-body-row.red{
    background: #fff4f2;
}
.task-manager-content-header-body-row.red:hover{
    background: #FFFAFA;
}
.task-manager-content-header-body-col{
    float: left;
    padding: 15px 15px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-manager-content-header-body-col.third-party:after{
    content: "Third party";
    position: absolute;
    height: 12px;
    padding-left: 16px;
    padding-top: 2px;
    margin-left: 6px;
    background: url("../images/third-party.png") no-repeat;
    font-size: 11px;
    color: #999;
}

.adg-modal-window{
    font-size: 13px;
    color: #1a1a1a;
}
.adg-modal-window .modal-content{
    border-color: #e6e6e6;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 31px 4px rgba(0,0,0,.1);
    box-shadow: 0 0 31px 4px rgba(0,0,0,.1);
}
.adg-modal-window .modal-footer{
    padding: 20px 30px;
    background: #FAFAFA;
}
.adg-modal-window .modal-title{
    font-family: 'gotham_prolight', 'gotham_proregular', 'opensans_semibold', sans-serif;
    padding: 5px 30px;
    font-size: 20px;
    text-align: center;
}
.adg-modal-window-locking-info{
    padding: 29px 30px;
}
.adg-modal-window-locking-info-left{
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.adg-modal-window-locking-info-left-row{
    margin-bottom: 17px;
    line-height: 18px;
}
.adg-modal-window-locking-info-left-row:last-of-type{
    margin-bottom: 0;
}
.adg-modal-window-locking-info-left-col{
    word-break: break-all;
}
.adg-modal-window-locking-info-left-col:first-of-type{
    font-family: 'gotham_promedium', 'opensans_semibold', sans-serif;
}
.adg-modal-window-locking-info-left-col:first-child{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 80px;
    text-align: right;
}
.adg-modal-window-locking-info-left-col:last-child{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 420px;
}
.adg-modal-window-locking-info-right{
    width: 150px;
    border: 1px solid #e6e6e6;
    background: #FAFAFA;
    text-align: center;
    line-height: 0;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.adg-modal-window-locking-info-right-pic{
    max-width: 100%;
    max-height: 100%;
}
.modal-body.addition-rule{
    padding: 0;
}
.addition-rule-row{
    border-bottom: 1px solid #e6e6e6;
}
.addition-rule-row-left{
    float: left;
    width: 168px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'gotham_promedium', 'opensans_semibold', sans-serif;
}
.addition-rule-row-right{
    float: right;
    width: 630px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.addition-rule-row-right-controls{
    padding: 13px 12px 11px 0px;
    text-align: right;
}
.addition-rule-row-right-filtername{
    border-right: 1px solid #e6e6e6;
}
.addition-rule-row-right-input{
    border: 0;
    width: 100%;
    height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 13px;
    line-height: 41px;
}
.addition-rule-row-right-input:focus{
    outline: none;
}
.addition-rule-row-right-patterns{
    padding: 8px 12px 17px 9px;
}
.addition-rule-row-left-patterns{
    padding: 24px 12px 0 10px;
}
.addition-rule-row-right-options{
    padding: 8px 12px 17px 9px;
}
.addition-rule-row-left-options{
    padding: 24px 12px 0 10px;
}
.addition-rule-row-right-apply{
    padding: 8px 12px 17px 9px;
}
.addition-rule-row-left-apply{
    padding: 24px 12px 0 10px;
}
.addition-rule-row-right-column{
    float: left;
    width: 33%;
}