.main-container {
    height: 300px;
}

.light-mode {
    .main-container {
        background-color: var(--white);
    }
}

.dark-mode {
    .main-container {
        background-color: var(--black);
    }
}
