.stats-chart {
    height: 100%;

    &__filters {
        padding: 4px 16px 12px;
        display: flex;
        justify-content: flex-start;
    }

    &--non-active {
        opacity: 0.5;
        pointer-events: none;
    }
}
