.stats-chart {
    height: 100%;

    &__filters {
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
    }

    &--non-active {
        opacity: 0.5;
        pointer-events: none;
    }
}
