.sidebar {
    display: flex;
    height: 25px;
    padding: 24px 16px 16px 16px;
    z-index: 25;

    @media (min-width: 640px) {
        display: none;
    }
}

.pageActionItem {
    width: 100%;
    display: flex;
    gap: 14px;
    padding: 18px 16px;
    background: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

.menuDropDown {
    margin-left: auto;
}