.select {
    display: inline-block;
    position: relative;

    &__in {
        font-size: 14px;
        color: var(--gray88);
        padding-right: 25px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        -webkit-appearance: none;
    }

    &__ico {
        position: absolute;
        z-index: -1;
        right: 5px;
        top: 8px;
    }
}
