.back {
    text-align: left;
    background: transparent;
    border: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listDisabled {
    opacity: 0.5;
    pointer-events: none;
}

.addCustomFilterMobile {
    @media (max-width: 640px) {
        /* Subtract horizontal padding: 16px left + 16px right */
        width: calc(100% - 32px);
    }
}