.group {
    cursor: pointer;

    &--disabled {
        & .setting__icon {
            color: var(--gray400);
        }
    }

    &__checkbox {
        @media (min-width: 640px) {
            border-radius: 8px;
        }
    }
}
