.textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid var(--gray88);
    padding: 2px 12px;
    margin-top: 20px;
    color: var(--gray-base);
    font-size: 12px;
    line-height: 15px;
    background-color: white;

    @media (prefers-color-scheme: dark) {
        color: var(--gray300);
    }
}
