.textarea {
    width: 650px;
    height: 80px;
    resize: none;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid var(--gray88);
    padding: 7px 15px;
    margin-top: 23px;
    color: var(--gray-base);
    font-size: 12px;
    line-height: 15px;
    background-color: white;
}
