.limit-warning {
    font-size: 14px;
    line-height: 18px;
    padding: 0 16px 16px;
    color: var(--text-links-attention-link-default);

    a {
        color: var(--text-links-attention-link-default);
    }

    &--link {
        color: inherit;
        margin-left: 4px;
    }
}
