.limit-warning {
    font-size: 14px;
    line-height: 18px;
    padding: 0 16px;
    color: var(--text-links-attention-link-default);

    &--wrapper {
        padding-bottom: 16px;
        margin: 0;
        max-width: 80%;
    }

    &--link {
        color: inherit;
        margin-left: 4px;
    }
}
