.miscellaneous-filters {
    padding-top: 5px;
    margin-left: 50px;

    & label {
        margin: 10px;
        & input {
            position: relative;
            top: 2px;
            margin-right: 10px;
        }
    }
}
