.editor {
    width: 100%;
    height: 300px;
    min-width: 680px;
    min-height: 300px;
    max-width: 900px;
    max-height: 100%;
    resize: both;
    box-shadow: inset -10px 0 0 0 #f0f0f0;
    position: relative;
    overflow: hidden;
    padding-right: 10px;

    & .ace_editor {
        width: 100%;
        height: 100%;
        border-top: 1px solid var(--gray05);
        border-bottom: 1px solid var(--gray05);
    }
}
