.select {
    font-size: 14px;
    color: var(--gray88);
    background-image: url(../../../../assets/icons/arrow-down-grey.svg);
    padding-right: 25px;
    background-position: 100% 59%;
    background-size: 13px;
    cursor: pointer;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    -webkit-appearance: none;
}
