/*Log Page*/
.log-table td:first-child {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.log-table td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal {
    position: fixed;
}

.checkb-wrap .radio, .checkb-wrap .checkbox {
    vertical-align: middle;
    display: inline-block;
}

.checkb-wrap > input {
    display: none;
}

.checkb-wrap > input:checked + label > .radio:before {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #66b574;
}

.checkb-wrap > input:checked + label > .checkbox {
    background-color: #66b574;
    background-image: url(../images/icon-checkbox-tick.png);
}

/*Options Page*/

/*Tabs*/
.tab-pane {
    display: none;
}

/*Whitelist*/
.white-list {
    height: 300px;
    max-height: 300px;
}

.white-list .rule-input {
    display: none;
}

.white-list .editing-row .rule-text {
    display: none;
}

.white-list .editing-row .rule-input {
    display: block;
}

.user-rules {
    width: 100%;
    height: 300px;
}


