@font-face {
    font-family: 'gotham_promedium';
    url('../fonts/gothapromed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
}
body {
    width: 320px;
    font-family: gotham_proregular;
    padding: 0;
    margin: 0;
}

.update-popup {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 25px;
}

.update-popup__close {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNS42NDIgMTUuNjQyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNS42NDIgMTUuNjQyIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj4gIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguODgyLDcuODIxbDYuNTQxLTYuNTQxYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjEgIGMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMEw3LjgyMSw2Ljc2TDEuMjgsMC4yMmMtMC4yOTMtMC4yOTMtMC43NjgtMC4yOTMtMS4wNjEsMGMtMC4yOTMsMC4yOTMtMC4yOTMsMC43NjgsMCwxLjA2MSAgbDYuNTQxLDYuNTQxTDAuMjIsMTQuMzYyYy0wLjI5MywwLjI5My0wLjI5MywwLjc2OCwwLDEuMDYxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyczAuMzg0LTAuMDczLDAuNTMtMC4yMmw2LjU0MS02LjU0MSAgbDYuNTQxLDYuNTQxYzAuMTQ3LDAuMTQ2LDAuMzM4LDAuMjIsMC41MywwLjIyYzAuMTkyLDAsMC4zODQtMC4wNzMsMC41My0wLjIyYzAuMjkzLTAuMjkzLDAuMjkzLTAuNzY4LDAtMS4wNjFMOC44ODIsNy44MjF6IiBmaWxsPSIjZDlkOWQ5Ii8+PC9zdmc+);
}

.update-popup__logo {
    width: 87px;
    height: 87px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI4NnB4IiBoZWlnaHQ9Ijg3cHgiIHZpZXdCb3g9IjAgMCA4NiA4NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5Hcm91cCA4PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQtQ29weS00IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIyLjAwMDAwMCwgLTQxLjAwMDAwMCkiPiAgICAgICAgICAgIDxnIGlkPSJHcm91cC04IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAuMDAwMDAwLCAyNC4wMDAwMDApIj4gICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYwLjMwODU5NCwgNTguMTc1NzgxKSByb3RhdGUoLTMzMC4wMDAwMDApIHRyYW5zbGF0ZSgtNjAuMzA4NTk0LCAtNTguMTc1NzgxKSB0cmFuc2xhdGUoMTQuODA4NTk0LCAxNy42NzU3ODEpIiBzdHJva2U9IiM2OEJDNzEiIHN0cm9rZS13aWR0aD0iNSI+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTkuMzkyNDkxMyw2NS41MTgyMDE5IEMyNi43NDcwMzg1LDc0LjU1MDc4NDEgMzcuOTU1NjA1OCw4MC4zMjAzMTI1IDUwLjUxMTcxODgsODAuMzIwMzEyNSBDNzIuNjYzNTE0OSw4MC4zMjAzMTI1IDkwLjYyMTA5MzgsNjIuMzYyNzMzNiA5MC42MjEwOTM4LDQwLjIxMDkzNzUgQzkwLjYyMTA5MzgsMTguMDU5MTQxNCA3Mi42NjM1MTQ5LDAuMTAxNTYyNSA1MC41MTE3MTg4LDAuMTAxNTYyNSBDMjguMzU5OTIyNiwwLjEwMTU2MjUgMTAuNDAyMzQzOCwxOC4wNTkxNDE0IDEwLjQwMjM0MzgsNDAuMjEwOTM3NSIgaWQ9Ik92YWwtMiI+PC9wYXRoPiAgICAgICAgICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJMaW5lLTIiIHBvaW50cz0iMC42MjY5NTMxMjUgMzEuNDE2MDE1NiAxMC41IDQyLjUgMjAuOTk0MTQwNiAzMS41Ij48L3BvbHlsaW5lPiAgICAgICAgICAgICAgICA8L2c+ICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0Mi41MDAwMDAsIDQxLjAzMTI1MCkiPiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTIxLjMzMTg2MjMsMCBDMTQuNjY0MTc3NSwwIDYuNjIxMjgyNzIsMS41NzIxNzQyNSA2LjU0MTgxOTY4ZS0wNiw1LjAzMjY0MTA3IEM2LjU0MTgxOTY4ZS0wNiwxMi41MDYzMTQxIC0wLjA5MTM4OTk4OTYsMzEuMTI1NDk2MiAyMS4zMzE4NjIzLDQzLjg0NzM4OCBDNDIuNzU1NTg4MSwzMS4xMjU0OTYyIDQyLjY2NDY2NTEsMTIuNTA2MzE0MSA0Mi42NjQ2NjUxLDUuMDMyNjQxMDcgQzM2LjA0MjkxNTQsMS41NzIxNzQyNSAyOC4wMDAwMjA2LDAgMjEuMzMxODYyMywwIEwyMS4zMzE4NjIzLDAgWiIgaWQ9IlBhdGgiIGZpbGw9IiM2OEJDNzEiPjwvcGF0aD4gICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMS4zMTAwNzIxLDQzLjgzNDQ0MTggQy0wLjA5MTMyODAwNDQsMzEuMTEyODY3NyA2LjU0MTgxOTY4ZS0wNiwxMi41MDM3Nzk0IDYuNTQxODE5NjhlLTA2LDUuMDMyNjQxMDcgQzYuNjE0MDcxNTEsMS41NzU5NDMwNCAxNC42NDY2NjAyLDAuMDAzNDI2NzQyNTggMjEuMzEwMDcyMSw1LjU5NDgzNTdlLTA2IEwyMS4zMTAwNzIxLDQzLjgzNDQ0NjEgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjNjdCMjc5Ij48L3BhdGg+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMjAuNTUzNzYwMiwyOS4yNTY0MDQ5IEwzMy40NTM0OTEyLDExLjgyMzc4MjMgQzMyLjUwODIyNTIsMTEuMDY0MDg3NSAzMS42NzkwOTE4LDExLjYwMDI2NDQgMzEuMjIyNjYzMywxMi4wMTUzNjkxIEwzMS4yMDYwMDg2LDEyLjAxNjY5OTYgTDIwLjQ1MDIzMTEsMjMuMjM1NjEzMSBMMTYuMzk3NzQwNCwxOC4zNDU3MTU1IEMxNC40NjQ0NDYyLDE2LjEwNjEwMTUgMTEuODM2MTU2NCwxNy44MTQ0MTcgMTEuMjIyMTgzNSwxOC4yNjU4ODc3IEwyMC41NTM3NjAyLDI5LjI1NjQwNDkiIGlkPSJGaWxsLTExIiBmaWxsPSIjRkZGRkZGIj48L3BhdGg+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
}

.update-popup__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.update-popup__desc {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 15px;
}

.update-popup__link {
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    color: #68bc71;
    text-decoration: none;
    outline: none;
    border-bottom: 1px dotted;
    margin-bottom: 25px;
    -webkit-transition: 0.3s ease background-color;
    -o-transition: 0.3s ease background-color;
    transition: 0.3s ease background-color;
}

.update-popup__link:hover {
    color: #58a273;
}

.update-popup__offer {
    font-size: 11px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.43);
    margin-bottom: 25px;
}

.update-popup__btn {
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    line-height: 32px;
    min-width: 235px;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0 0 0 1px rgba(151, 151, 151, 0.28);
    box-shadow: inset 0 0 0 1px rgba(151, 151, 151, 0.28);
    -webkit-transition: 0.3s ease background-color;
    -o-transition: 0.3s ease background-color;
    transition: 0.3s ease background-color;
}

.update-popup__btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
