.filterSortItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: transparent;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.filterSortItem[data-selected="true"] {
    font-weight: 600;
}

.filterSortItem:hover {
    background-color: var(--fills-menus-dropdown-menu-background-hovered);
}