/**
 * This file is part of Adguard Browser Extension (https://github.com/AdguardTeam/AdguardBrowserExtension).
 *
 * Adguard Browser Extension is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Adguard Browser Extension is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Adguard Browser Extension.  If not, see <http://www.gnu.org/licenses/>.
 */

.adguard-button-woGqijnGG4UnPRJdhIaw[cui-areatype="menu-panel"]:after {
    display: none !important;
}

toolbarpaletteitem[place="palette"] > .adguard-button-woGqijnGG4UnPRJdhIaw:after {
    display: none !important;
}

/* Mac customization */
.adguard-button-woGqijnGG4UnPRJdhIaw.mac:after {
    margin: -11px -16px -11px 0 !important;
}

/*Linux customization*/
.adguard-button-woGqijnGG4UnPRJdhIaw.linux:after {
    margin: 6px 0 0 -10px !important;
}

.adguard-button-woGqijnGG4UnPRJdhIaw:after {
    display: block;
    background-color: #555;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    padding: 0 2px;
    width: 12px;
    background: -moz-linear-gradient(top, #555 0%, #000000 100%);
    position: relative;
    content: attr(countBlocked);

    /* Default - win style */
    margin: 5px 0 0 -12px;
}