.modal {
    @media (min-width: 640px) {
        display: none;
    }
}

.filterList {
    padding: 8px 16px;
}

.tag {
    position: relative;
    padding: 8px 0;
}

.label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
}

.itemContent {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.itemTitle {
    font-size: 14px;
    font-weight: 600;
}

.itemTooltip {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}
