.styles-section .style-properties .enabled-button {
    visibility: visible !important;
}

#select-attributes-checkbox {
    margin-left: 0px;
    vertical-align: middle;
}

.action-button {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.rule-input {
    padding: 4px;
}

.webkit-css-property {
    color: #5a5a5a;
}

#filter-rule-text {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 1px;
}

.separator-attributes {
    min-height: 21px;
}

.separator-properties {
    min-height: 17px;
}