.notifications {
    /* TODO add animations */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--green400);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    min-height: 50px;
    z-index: var(--z-idx8);
}

.notification {
    &__title {
        font-size: 16px;
    }

    &__description {
        font-size: 12px;
        max-width: 960px;
    }
}
