.notifications {
    /* TODO add animations */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #67B279;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    min-height: 50px;
}

.notification {
    &__title {
        font-size: 16px;
    }

    &__description {
        font-size: 12px;
    }
}
