{
  "rules": {
    "import/prefer-default-export": "off",

    "max-len": "off",
    "no-use-before-define": "off",
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "arrow-body-style": "off",
    "func-names": ["error", "as-needed"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],

    "react/prop-types": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  }
}
