<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Author</key>
        <string>adguard</string>
        <key>Builder Version</key>
        <string>9537.73.11</string>
        <key>CFBundleDisplayName</key>
        <string>Adguard AdBlocker${extensionNamePostfix}</string>
        <key>CFBundleIdentifier</key>
        <string>${extensionId}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>${version}</string>
        <key>CFBundleShortVersionString</key>
        <string>${version}</string>
        <key>CFBundleVersion</key>
        <string>${version}</string>
        <key>Chrome</key>
        <dict>
            <key>Global Page</key>
            <string>background.html</string>
            <key>Popovers</key>
            <array>
                <dict>
                    <key>Filename</key>
                    <string>pages/popup.html</string>
                    <key>Identifier</key>
                    <string>AdguardPopup</string>
                </dict>
            </array>
            <key>Toolbar Items</key>
            <array>
                <dict>
                    <key>Identifier</key>
                    <string>AdguardOpenOptions</string>
                    <key>Image</key>
                    <string>icons/safari.png</string>
                    <key>Label</key>
                    <string>Adguard</string>
                    <key>Popover</key>
                    <string>AdguardPopup</string>
                </dict>
            </array>
        </dict>
        <key>Content</key>
        <dict>
            <key>Scripts</key>
            <dict>
                <key>Start</key>
                <array>
                    <string>lib/libs/css.escape.js</string>
                    <string>lib/utils/element-collapser.js</string>
                    <string>lib/utils/css-hits-counter.js</string>
                    <string>lib/libs/extended-css-1.0.6.js</string>
                    <string>lib/content-script/adguard-content.js</string>
                    <string>lib/content-script/common-script.js</string>
                    <string>lib/content-script/content-script.js</string>
                    <string>lib/content-script/wrappers.js</string>
                    <string>lib/content-script/preload.js</string>
                    <string>lib/content-script/content-utils.js</string>
                </array>
                <key>End</key>
                <array>
                    <string>lib/libs/diff_match_patch.js</string>
                    <string>lib/libs/dom.patched.js</string>
                    <string>lib/libs/balalaika.patched.js</string>
                    <string>lib/content-script/i18n-helper.js</string>
                    <string>lib/content-script/assistant/js/adguard-selector.js</string>
                    <string>lib/content-script/assistant/js/adguard-rules-constructor.js</string>
                    <string>lib/content-script/assistant/js/slider-widget.js</string>
                    <string>lib/content-script/assistant/js/assistant.js</string>
                    <string>lib/content-script/assistant/js/start-assistant.js</string>
                    <string>lib/content-script/subscribe.js</string>
                </array>
            </dict>
            <key>Stylesheets</key>
            <array>
                <string>lib/content-script/assistant/css/selector.css</string>
            </array>
            <key>Whitelist</key>
            <array>
                <string>http://*/*</string>
                <string>https://*/*</string>
            </array>
        </dict>
        <key>Description</key>
        <string>Unmatched adblock extension against advertising and pop-ups.</string>
        <key>ExtensionInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>Permissions</key>
        <dict>
            <key>Website Access</key>
            <dict>
                <key>Include Secure Pages</key>
                <true/>
                <key>Level</key>
                <string>All</string>
            </dict>
        </dict>
        <key>Update Manifest URL</key>
        <string>${updateURL}</string>
        <key>Update From Gallery</key>
        <${updateFromGallery}/>
        <key>Website</key>
        <string>http://adguard.com</string>
    </dict>
</plist>
