.request-info {
    margin: 24px 0;
    word-break: break-all;

    &__key {
        color: var(--gray700);
        line-height: 16px;
        margin-bottom: 4px;
        /* FIXME - add fallbacks */
        font-family: Roboto-Regular;
    }

    &__value {
        color: var(--gray900);
        line-height: 19px;
        margin-top: 4px;

    }
}
