.request-info {
    padding: 12px 12px 12px 24px;
    word-break: break-all;

    @media (max-width: 640px) {
        &:not(:last-child) {
            border-bottom: 1px solid var(--gray100);
        }
    }

    &__key {
        color: var(--gray700);
        line-height: 16px;
        margin-bottom: 4px;
        font-family: var(--font-roboto);
        font-size: 14px;
    }

    &__value {
        color: var(--gray900);
        line-height: 19px;
        margin-top: 4px;
    }
}
