.dropdownContainer {
    position: relative;
}

.dropdown {
    position: absolute;
    right: 0;
    width: 240px;
    top: calc(100% + 8px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background: var(--fills-menus-dropdown-menu-background-default);
    z-index: var(--z-idx-options-menu-dropdown);
}

.menuButton {
    background: transparent;
    cursor: pointer;
    border: 0;
}
