:root {
    --greyf7: #f7f7f7;
    --gray05: rgba(239, 239, 239, 0.5);
    --greye7: #e7e7e7;
    --gey6a: #d1d1d1;
    --grayd8: #888888;
    --grey78: #787878;
    --gray-base: #4d4d4d;
    --gray4a: #4a4a4a;
    --gray88: #888888;
    --green74: #66b574;
    --green86: #68bc86;
    --green75: #5ba575;
    --red23: #F66F23;
    --t3: 0.3s ease;
}
