.icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;

    &--empty {
        width: 82px;
        height: 104px;
    }

    &--link {
        width: 14px;
        height: 14px;
        color: var(--stroke-icons-product-icon-default);
    }

    &--menu {
        width: 24px;
        height: 26px;
    }
}
