.actions {
    display: flex;
    align-items: center;

    & .action {
        margin-right: 18px;

        &__clear {
            color: #66b574;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
