.events-types {
    &__type {
        background: none;
        border: none;
        display: inline;
        margin-right: 15px;
        padding: 9px 7px;
        cursor: pointer;
        font-size: 13px;
        line-height: 8px;

        &:focus {
            outline: none;
        }

        &.active {
            /* TODO move all colors to variables */
            background: #67b279;
            border-radius: 3px;
            color: #fff;
        }
    }
}
