.events-types {
    &__type {
        background: none;
        border: none;
        display: inline;
        margin: 0;
        padding: 16px 12px 12px;
        cursor: pointer;
        font-size: 12px;
        line-height: 8px;

        &:focus {
            outline: none;
        }

        &.active {
            /* TODO move all colors to variables */
            border-bottom: 3px solid #66b574;
        }
    }
}
