.stealth {
    &__description {
        /* Line height of this block */
        margin-bottom: 1.3em;
    }

    &__attention {
        color: var(--text-links-attention-link-default);
    }

    &__input {
        margin-top: 4px;
    }

    &__tracking-setting {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        &__minutes {
            margin-top: 20px;
        }
    }
}
