.request-preview {
    flex-grow: 1;

    &__status {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        font-size: 16px;
    }

    &__button {
        margin: 16px 0;

        @media (--to-mobile) {
            width: calc(100% - 48px);
        }
    }
}
